*{
    box-sizing: border-box;
    margin: 0;
    outline-color: red ;
    /* outline-style: solid; */
    outline-width: 1px;
}

html{
    /* scroll-snap-type: y mandatory; */
    scroll-behavior: smooth;
}

body {
    background-color: #1f1f29;
    color: #f9f9f9;
    font-family: 'samsung_sharp_sansbold','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul > a{
    text-decoration: none;
    color: #f9f9f9;
}

.nav{
    position: fixed;
    display: flex;
    align-items: center;
    height: 100dvh;
}

.nav-items{
    list-style: none;
}

.nav-item {
    margin: 4rem 0 4rem 0;
    font-size: 2rem;
    transition: all 0.2s ease-out 0s;
}

.nav-item:hover{
    font-size: 3rem;
}

.full-height{
    height: 100dvh;
}